.container {
  z-index: 1000;
  flex: 1;
  display: flex;
  flex-direction: column;

  & > h1 {
    text-align: center;
  }

  & > div {
    flex: 1;
    display: flex;
    flex-direction: row;

    & > .dnd-from {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & > div {
      flex: 1;
      margin: 2em;
      border: 1px solid grey;
      //display: flex;
      //flex-direction: column;

      & > .item {
        display: inline-flex;
        margin: 3px;
        width: 100px;
      }
    }
  }

}
