
<!-- Arrows -->
<svg style="position: absolute; min-width: 100vw; min-height: 100vh;">
  <polyline *ngFor="let arrow of getArrows" [attr.points]="arrow" style="stroke:grey;stroke-width:1px;"></polyline>
</svg>


<div class="container">

  <h1>Drag n' Drop</h1>

  <div class="dnd">

    <!-- Initial Grab Area -->
    <div class="dnd-from" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
      <div
        *ngFor="let shape of shapes"
        class="item"
        [attr.id]="shape.id"
        [attr.draggable]="true"
        (dragstart)="onDragStart($event)"
      >
        <svg width="100px" height="100px" style="background-color: rgba(0,0,0,0)">
          <polygon
            [attr.points]="shape.points"
            style="
            fill:rgba(255,0,0,0.1);
            stroke:black;
            stroke-width:2;
            background-color: rgba(0,0,0,0)
          "></polygon>
        </svg>
      </div>

    </div>

    <!-- Endpoint -->
    <div class="dnd-to" (drop)="proxy($event)" (dragover)="onDragOver($event)">
      <div
        *ngFor="let shape of getTransfer"
        class="item clone"
        [attr.id]="shape.id"
        [attr.draggable]="true"
        (dragstart)="onDragStart($event)"
      >
        <svg width="100px" height="100px">
          <polygon [attr.points]="shape.points" style="fill: transparent; stroke: black;"></polygon>
        </svg>
      </div>
    </div>

  </div>

</div>
